li {
  list-style: none;
}

.alert, .alert p, .alert div {
  text-align: center;
}

nav li {
  padding: 0;
}

nav li > a {
  padding: 0 20px;
  display: inline-block;
}

form[id^="delete"] {
  display: inline-block;
}

table .operation {
  width: 100px;
}

table .state {
  width: 70px;
}
