.container {
  text-align: center;
}

.login_form,
.register_form {
  width: 250px;
  margin: 0 auto;
}

label {
  text-align: left;
}

input[type=text],
input[type=password] {
  min-width: 100%;
  margin-bottom: 15px;
}
