li {
  list-style: none;
}

.alert, .alert p, .alert div {
  text-align: center;
}

nav li {
  padding: 0;
}

nav li > a {
  padding: 0 20px;
  display: inline-block;
}

form[id^="delete"] {
  display: inline-block;
}

table .operation {
  width: 100px;
}

table .getcode {
  width: 100px;
}

table input[id^="getcode_"] {
  width: 30px;
  padding: 3px;
  line-height: 20px;
  text-align: center;
}

table .state {
  width: 70px;
}
